/******************************************
    Version: 1.0
/****************************************** */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {
	#mainNav {
		background-color: #ffffff;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
}
@media (max-width: 767px) {
	#mainNav {
		background-color: #ffffff;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: rgba(255,255,255);
		border-color: rgba(255,255,255);
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 12px 27px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
	#mainNav {
		background-color: #ffffff;
	}
	.navbar-dark .navbar-nav .nav-link{
		padding: 10px 15px;
	}
	.navbar-dark .navbar-brand{
		width: 55%;
	}
	.navbar-dark .navbar-nav .nav-link::after{
		display: none;
	}
	.navbar-dark .navbar-toggler{
		color: #241c65;
		border-color: #241c65;
	}
	#content #slider .navigation ul li .li__info h5, #content #slider .navigation ul li .li__info-mask .mask__infoContainer h5{
		font-size: 10px;
	}
	#content #slider .navigation ul li .li__info h4, #content #slider .navigation ul li .li__info-mask .mask__infoContainer h4{
		font-size: 12px;
	}
	#content #slider .navigation ul li{
		margin-bottom: 5px;
	}
	.heading h1{
		font-size: 28px;
	}
	.heading p{
		font-size: 14px;
	}
	.right-box-pro .card-back{
		display: none;
	}
	.right-box-pro .card-front{
		display: none;
	}
	.message-box{
		padding: 0px;
		margin-top: 30px;
	}
	.message-box h2{
		font-size: 28px;
	}
	.cd-headline.clip span{
		font-size: 20px;
	}
	.section-title h3{
		font-size: 28px;
	}
	.section-title p{
		font-size: 14px;
	}
	#clouds{
		margin-top: -35%;
	}
	.message-box{
		margin-bottom: 30px;
	}
	.filter-button-group button{
		padding: 10px 10px;
		font-size: 11px;
	}
	.filter-button-group{
		text-align: center !important;
	}
	.post-box{
		margin-bottom: 30px;
	}
	.footer-distributed .footer-left{
		text-align: center;
	}
	
}